:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Noto Sans JP', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-primary: 49,8,31;
    --clr-secondary: 220,224,217;
    --clr-accent: 107,15,26;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}