.animation {
    background-color: rgb(var(--clr-primary));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.animation__text {
    color: rgb(var(--clr-secondary));
    font-family: var(--ff-secondary);
    font-size: 1rem;
    transform: translateY(-20%);
}

.animation__text .text {
    font-size: 2.1rem;
    font-weight: var(--fw-reg);

    @mixin atSmall {
        font-size: 4rem;
    }

    @mixin atLarge {
        font-size: 5rem;
    }
}

.animation__hide {
    background-color: rgb(var(--clr-primary));
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.animation__hide span {
    transform: translateY(-100%);
    display: inline-block;
    font-size: var(--fs-h1);
}

.animation__slider {
    background: rgb(var(--clr-secondary));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    z-index: 400;
}