header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    opacity: 0;
    background-color: rgb(var(--clr-primary));
    z-index: 3;
}

.logo {
    height: 40px;
    z-index: 1;
}

.logo img {
    height: 4.5rem;
}

.logo2 {
    display: none;
}

.nav {
    position: fixed;
    background: rgb(var(--clr-secondary));
    color: rgb(var(--clr-primary));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);

}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: rgb(var(--clr-accent));
}

.nav-toggle {
    padding: 1em .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 200;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background: rgb(var(--clr-primary));
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-10px);
    background: rgb(var(--clr-primary));
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: rgb(var(--clr-secondary));
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: all 500ms ease-in-out;
    transition-delay: 100ms;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 10px; }
.hamburger::after { bottom: 10px; }

@media (min-width: 600px) {
    .active {
        color: rgb(var(--clr-secondary));
        background-color: rgb(var(--clr-primary));
        border-radius: 20px;
    }
    
    .logo {
        font-size: var(--fs-h3);
        color: rgb(var(--clr-primary));
        position: fixed;
        z-index: 11;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        z-index: 10;
        height: 70px;
        transform: translateX(0);
    
    }

    .nav__list {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav__link {
        font-weight: var(--fw-reg);
        font-size: var(--fs-body);
        padding: .35em .65em .45em;
        transition: all 1s cubic-bezier(.5, 0, .5, 1);
    }

    .nav__item {
        padding: 0 .4em;
    }
}