.lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--clr-primary), .9);
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease-in-out;
    
    

    &__close-btn {
        position: absolute;
        margin: 1rem 1rem;
        color: rgb(var(--clr-accent));
        z-index: 600;
        background-color: rgb(var(--clr-secondary));
        transition: all .25s ease-in-out;
        padding: 0 .25rem;
        border-radius: .5rem;

        @mixin atSmall {
            color: white;
            background-color: rgb(var(--clr-primary));
        }
    }

    &__close-btn:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    &__active {
        visibility: visible;

        opacity: 1;

    }

    &__content {
        height: 85vh;
        max-height: 800px;
        width: 90vw;
        max-width: 400px;
        background-color: rgb(var(--clr-secondary));

        @mixin atSmall {
            width: 45vh;
        }
    }

    &__picture {
        height: 35%;
        overflow: scroll;
    }

    &__picture img {
        width: 100%;
        object-fit: cover;
    }

    &__description {
        color: rgb(var(--clr-primary));
        height: 65%;
        padding: 2rem 3.5rem;
        overflow: scroll;

        @mixin atMedium {
            padding: 2rem;
        }

        @mixin atLarge {
            padding: 3rem;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 2rem;
    }

    &__left, &__right {
        position: absolute;
        top:0;
        color: rgb(var(--clr-accent));
        transition: all .25s ease-in-out;
    }

    &__left {
        transform: translate(5px, 450px); 
        @mixin atSmall {
            transform: translate(-50px, 450px);
            color: white;
        }
    }
    &__right {
        right:0;
        transform: translate(-25px, 450px);
        @mixin atSmall {
            right: unset;
            transform: translate(415px, 450px);
            color: white;
        }
    }

    &__left:hover, &__right:hover {
        cursor: pointer;
    }

}

.fas {
    transition: all .25s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}