.lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--clr-primary), .9);
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease-in-out;
    
    

    &__close-btn {
        position: absolute;
        margin: 1rem 1rem;
        z-index: 600;
        color: white;
        background-color: rgb(var(--clr-primary));
        transition: all .25s ease-in-out;
        padding: 0 .25rem;
        border-radius: .5rem;

    }

    &__close-btn:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    &__active {
        visibility: visible;

        opacity: 1;

    }

    &__content {
        height: 85vh;
        border-radius: 2rem;
        max-height: 550px;
        width: 90vw;
        max-width: 400px;
        background-color: rgb(var(--clr-secondary));
        transition: all .5s ease-in-out;
        opacity: 0;



        @mixin atSmall {
            width: 45vh;
            max-height: 800px;
        }


    }

    &__picture {
        height: 35%;
        overflow: scroll;
        border-radius: 2rem 2rem 0 0;

        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }

    &__picture img {
        width: 100%;
        object-fit: cover;


    }

    &__description {
        color: rgb(var(--clr-primary));
        height: 65%;
        padding: 2rem 3.5rem;
        overflow: scroll;

        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }

        @mixin atMedium {
            padding: 2rem;
        }

        @mixin atLarge {
            padding: 3rem;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 2rem;
    }

    &__left, &__right {
        position: absolute;
        top:50%;
        color: rgb(var(--clr-accent));
        display: none;
        @mixin atSmall {
            color: white;
            display: block;
        }
    }

    &__up, &__down {
        position: absolute;
        color: rgb(var(--clr-accent));
        color: white;
        @mixin atSmall {
            visibility: hidden;
        }
    }

    &__up {
        top:5%;
    }

    &__down {
        bottom:5%;
    }

    &__left {
        visibility: hidden;

        @mixin atSmall {
            left:15%;
            visibility: visible;
        }

        @mixin atMedium {
            left: 20%;
        }
        @mixin atLarge {
            left: 30%;
        }
    }

    &__right {
        visibility: hidden;
        @mixin atSmall {
            visibility: visible;
            right:15%;
        }
        @mixin atMedium {
            right: 20%;
        }
        @mixin atLarge {
            right: 30%;
        }
    }




}

.fas {
    transition: all .25s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}