.my-work {
    background-color: rgba(var(--clr-secondary), .8);
    color: rgb(var(--clr-primary));
    text-align: center;
}

.section__title--work, .section__subtitle--work {
    text-align: start;

    @mixin atSmall {
        text-align: center;
    }
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1500px;
    margin: 0 auto;
    place-items: center;
}

.portfolio__item {
    background: rgb(var(--clr-accent));
    overflow: hidden;
    max-width: 500px;
    height: 80%;
    margin: 1rem;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
    cursor:pointer;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}